/* Autocomplete inside Modal */
.pac-container {
    z-index: 99999999;
}

/* Profile Background image */
.profile-bg-image {
    background-image: url(../img/profile_background.jpg);
}

/* Background Color */
.bg-white {
    background-color: white;
}

/* Rating */
.rating {
    text-align: right;
    padding-top: 2px;
}

/* Review */
.review {
    text-align: left;
}

/* Favorite */
.favorite {
    height: 80px;
    line-height: 80px;
    border-bottom: thin solid black;
    font-size: 20px;
}

.favorite span {
    vertical-align: middle;
    display: inline-block;
}

/* Favors */
.favor {
    height: 60px;
    line-height: 60px;
}

.favor span {
    vertical-align: middle;
    display: inline-block;
}

/* Align Vertical */
.align-vertical {
    vertical-align: middle;
}

/* Disable resizing */
.resize-none {
    resize: none;
}

/* Disable resizing */
.resize-vertical {
    resize: vertical;
}

/* Add Padding - top, bottom */
.padding-20-30 {
    padding-top: 20px;
    padding-bottom: 30px;
}

/* Add Padding - top, bottom */
.padding-120-none {
    padding-top: 120px;
}

/* Add Padding - top, bottom */
.padding-10-none {
    padding-top: 10px;
}

/* Add Padding - top, bottom */
.padding-17-none {
    padding-top: 17px;
}

/* Add Padding - top, bottom */
#padding-none-0 {
    padding-bottom: 0px;
}

/* Add Padding - top, bottom */
.padding-none-10 {
    padding-bottom: 10px;
}

/* Add Padding - top, bottom */
.padding-none-20 {
    padding-bottom: 20px;
}

/* Add Padding - top, bottom */
.padding-0-30 {
    padding-top: 0px;
    padding-bottom: 30px;
}

/* Add Padding - top, bottom */
.padding-10-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Add Padding - top, bottom */
.padding-20-0 {
    padding-top: 20px;
    padding-bottom: 0px;
}

/* Registration Time */
.register-time {
    height: 50px;
    padding-top: 13px;
}

/* Alias Display */
.alias {
    color: black;
    font-size: 20px;
}

/* Trip details */
.trip-right-details {
    padding-top: 10px;
    text-align: right;
}

/* Profile Alias */
#intro-heading-alias {
    font-size: 30px;
    margin-bottom: 0px;
    height: 20px;
}

/* No Trip */
.no-trip {
    height: 80px;
    line-height: 80px;
}

/* Add height */
.add-height {
    height: 80px;
}

/* No review */
.no-review {
    height: 80px;
    line-height: 80px;
    background-color: white
}

/* No Trip Username */
.no-trip-username {
    vertical-align: middle;
    display: inline-block;
}

/* Profile City */
#intro-heading-city {
    font-size: 15px;
    margin-bottom: 0px;
    height: 40px;
}

/* User role font */
.userRole {
    font-size: 12px;
}

/* Profile download */
#intro-heading-download {
    font-size: 20px;
}

/* Profile download Button */
.profile-download-btn {
    padding: 7px 10px;
}

/* HR line */
.hr-line {
    background-color: darkgrey;
}

/* Address */
.origin-address {
    font-size: 15px;
    padding-top: 5px;
}

/* Palevioletred color */
.color-palevioletred {
    color: palevioletred;
}

/* Red color */
#cancel {
    background-color: red;
}

/* Destination Address */
.destination-address {
    font-size: 15px;
}

/* Trip Details */
.trip-details {
    padding-top: 28px;
    text-align: right;
}

/*  */
.text-align-right {
    text-align: right;
}

/* Sweep buttons */
.sweep-button {
    background-color: lightgray;
    height: 100%;
    width: 100%;
}

/* Sweep To Top Button*/
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px #fed136;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .hvr-sweep-to-top:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fed136;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
        color: white;
    }

        .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }

input[type="radio"] {
    visibility: hidden;
}

input[type="checkbox"] {
    visibility: hidden;
    left: -999em;
    position: absolute;
}

.highlight {
    background-color: Highlight;
    border-color: transparent;
}

.supress {
    background-color: transparent;
    border-color: transparent;
}