<div class="modal-header">
    <h3 class="modal-title">Create Trip</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div ng-show="fail" class="alert alert-info alert-dismissable">
            <i class="fa fa-coffee"></i>
            {{fail_msg}}
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-lg-6 text-center">
                    <a href="" class="page-scroll btn btn-xl" ng-click="setRoundTrip()">Round trip</a>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="" class="page-scroll btn btn-xl" ng-click="setOneWayTrip()">One way</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Title:</label>
                <div class="col-lg-8">
                    <input ng-model="title" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="col-lg-3 control-label">From?</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-autocomplete ng-model="origin" placeholder="Enter a location:" required>
                        <div class="input-group-addon">
                            <img src="img/icons/findIcon.png" alt="findIcon" width="15" height="20" ng-click="locate()" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="col-lg-3 control-label">Where to?</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-autocomplete ng-model="destination" placeholder="Enter a location:" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="col-lg-3 control-label">Time</label>
                    <div class="col-lg-8">
                        <input type="time" class="form-control" ng-model="originTime" required>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="roundTrip">
                <div class="input-group">
                    <label class="col-lg-3 control-label">Returning time</label>
                    <div class="col-lg-8">
                        <input type="time" class="form-control" ng-model="destinationTime" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="col-lg-6 text-center">
                        <a href="" class="page-scroll btn btn-xl" ng-click="setDriver()">Driver</a>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a href="" class="page-scroll btn btn-xl" ng-click="setRider()">Rider</a>
                    </div>
                </div>
            </div>
            <!-- Add Recuring days later -->
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="createTrip()">Create</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
