<div class="modal-header">
    <h3 class="modal-title">Download App</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div ng-show="fail" class="alert alert-info alert-dismissable">
            <i class="fa fa-coffee"></i>
            {{fail_msg}}
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number:</label>
                <div class="col-lg-8">
                    <input ng-model="phoneNumber" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="sendText()">Send Text</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
