<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="" ng-click="goToHome()">CARNET</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="" ng-click="goToHome()"></a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="login()">Login</a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="logout()">Logout</a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="signUp()">Sign Up</a>
                </li>
                <li ng-show="access_token && !myProfile">
                    <a class="page-scroll" href="" ng-click="viewMyProfile()">My Profile</a>
                </li>
                <li ng-show="access_token && myProfile">
                    <a class="page-scroll" href="" ng-click="createTrip()">Create Trip</a>
                </li>
                <li>
                    <a ng-hide="myProfile" class="page-scroll" href="" ng-click="scrollTo('#trip')">{{firstName}}'s Trips</a>
                    <a ng-show="myProfile" class="page-scroll" href="" ng-click="scrollTo('#trip')">My Trips</a>
                </li>
                <li>
                    <a ng-hide="myProfile" class="page-scroll" href="" ng-click="scrollTo('#review')">{{firstName}}'s Reviews</a>
                    <a ng-show="myProfile" class="page-scroll" href="" ng-click="scrollTo('#review')">My Reviews</a>
                </li>
                <li>
                    <a ng-hide="myProfile" class="page-scroll" href="" ng-click="scrollTo('#favorite')">{{firstName}}'s Favorites</a>
                    <a ng-show="myProfile" class="page-scroll" href="" ng-click="scrollTo('#favorite')">My Favorites</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header style="background-image: url(img/profile_background.jpg)">
    <div class="container">
        <div class="intro-text" style="padding-bottom: 0px">
            <div class="intro-lead-in" style="padding-bottom: 0px">
                <img ng-src="{{photoUrl}}" width="200" height="200" class="avatar img-thumbnail img-circle" alt="avatar">
            </div>
            <div class="intro-heading" style="font-size: 30px; margin-bottom: 0px; height: 20px;">{{alias}}</div>
            <div ng-show="homeCity" class="intro-heading" style="font-size: 15px; margin-bottom: 0px; height: 40px;">{{homeCity}}, {{country}}</div>
            <div ng-hide="homeCity" class="intro-heading" style="font-size: 15px; margin-bottom: 0px; height: 40px;"></div>
            <div class="intro-heading" style="font-size: 20px">
                Want to carpool with {{firstName}}?
                <a class="page-scroll btn btn-xl" style="padding: 7px 10px;" ng-click="download()">Download</a>
            </div>
        </div>
    </div>
</header>

<div class="row bg-light-gray text-center" style="height: 50px; padding-top: 13px">
    <span class="text-muted" style="vertical-align: middle">Joined {{registrationTime}} weeks ago</span>
</div>

<!-- Trips Section -->
<section id="trip" style="padding-top: 120px">
    <div class="container">
        <div class="row" style="padding-bottom: 10px">
            <div class="col-lg-12 text-center">
                <h2 ng-hide="myProfile" class="section-heading">{{firstName}}'s Trips</h2>
                <h2 ng-show="myProfile" class="section-heading">Your Trips</h2>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px" ng-show="noTrip">
            <div class="col-md-3"></div>
            <div class="col-md-6 bg-light-gray text-center text-muted" style="height: 80px; line-height: 80px;">
                <span style="vertical-align: middle; display: inline-block;">{{firstName}} has no trips scheduled</span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" ng-repeat="result in tripResults" style="padding-bottom: 20px">
            <div class="col-md-3"></div>
            <div class="col-md-6 bg-light-gray" style="height: 80px">
                <div class="row">
                    <div class="col-md-6 text-muted pull-left" style="padding-top: 17px">
                        <div>{{result.origin.address}}</div>
                        <div><span style="color: palevioletred">To:</span> {{result.destination.address}}</div>
                    </div>
                    <div class="col-md-6 text-muted" style="padding-top: 10px; text-align: right">
                        <div>{{result.schedule.hours}}:{{result.schedule.minutes}} {{result.schedule.ampm}}</div>
                        <div>
                            <span ng-show="{{result.schedule.daysOfOperation[0]}}"><b>S</b></span>
                            <span ng-hide="{{result.schedule.daysOfOperation[0]}}">S</span>
                            <span ng-show="{{result.schedule.daysOfOperation[1]}}"><b>M</b></span>
                            <span ng-hide="{{result.schedule.daysOfOperation[1]}}">M</span>
                            <span ng-show="{{result.schedule.daysOfOperation[2]}}"><b>T</b></span>
                            <span ng-hide="{{result.schedule.daysOfOperation[2]}}">T</span>
                            <span ng-show="{{result.schedule.daysOfOperation[3]}}"><b>W</b></span>
                            <span ng-hide="{{result.schedule.daysOfOperation[3]}}">W</span>
                            <span ng-show="{{result.schedule.daysOfOperation[4]}}"><b>T</b></span>
                            <span ng-hide="{{result.schedule.daysOfOperation[4]}}">T</span>
                            <span ng-show="{{result.schedule.daysOfOperation[5]}}"><b>F</b></span>
                            <span ng-hide="{{result.schedule.daysOfOperation[5]}}">F</span>
                            <span ng-show="{{result.schedule.daysOfOperation[6]}}"><b>S</b></span>
                            <span ng-hide="{{result.schedule.daysOfOperation[6]}}">S</span>
                        </div>
                        <div>{{result.distance}} Miles</div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</section>

<!-- Review Section -->
<section id="review" style="padding-top: 120px" class="bg-light-gray">
    <div class="container">
        <div class="row" style="padding-bottom: 10px">
            <div class="col-lg-12 text-center">
                <h2 ng-hide="myProfile" class="section-heading">{{firstName}}'s Reviews</h2>
                <h2 ng-show="myProfile" class="section-heading">Your Reviews</h2>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px" ng-show="noReview">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center text-muted" style="height: 80px; line-height: 80px; background-color: white">
                <span style="vertical-align: middle; display: inline-block;">{{firstName}} has no reviews</span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" ng-repeat="result in reviewResults" style="padding-bottom: 20px">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: white">
                <div class="row">
                    <div class="col-md-3 text-muted text-center">
                        <div>
                            <img ng-src="{{result.reviewer.photoUrl}}" width="100" height="100" class="avatar img-circle" alt="avatar">
                        </div>
                        <div><a href="" ng-click="viewProfile($index)">{{result.reviewer.alias}}</a></div>
                        <div>Favored by {{result.reviewerNumberOfFavorite}} people</div>
                        <div># of reviews: {{result.reviewerNumberOfReview}}</div>
                    </div>
                    <div class="col-md-9 text-muted text-center">
                        <div style="text-align: right; padding-top: 2px"><rating ng-model="result.rating" max="5" readonly=true></rating></div>
                        <div style="text-align: left">{{result.review}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<!-- Favorite Section -->
<section id="favorite" style="padding-top: 120px">
    <div class="container">
        <div class="row" style="padding-bottom: 10px">
            <div class="col-lg-12 text-center">
                <h2 ng-hide="myProfile" class="section-heading">{{firstName}}'s Favorites</h2>
                <h2 ng-show="myProfile" class="section-heading">Your Favorites</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center bg-light-gray text-muted">
                <div style="height: 80px; line-height: 80px; border-bottom: thin solid black; font-size: 20px">
                    <span style="vertical-align: middle; display: inline-block">{{firstName}}'s Favorite</span>
                </div>
                <div class="row text-center bg-light-gray text-muted" ng-show="noFavorite" style="height: 60px; line-height: 60px">
                    <span style="vertical-align: middle; display: inline-block">{{firstName}} has no favorite user</span>
                </div>
                <div class="row" ng-repeat="result in favoriteResults" style="padding-top: 10px">
                    <div>
                        <img ng-src="{{result.favorite.photoUrl}}" width="100" height="100" class="avatar img-circle" alt="avatar">
                    </div>
                    <div><a href="" ng-click="viewFavoriteProfile($index)">{{result.favorite.alias}}</a></div>
                    <div>Favored by {{result.favoriteNumberOfFavorite}} people</div>
                    <div># of reviews: {{result.favoriteNumberOfReview}}</div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 text-center bg-light-gray text-muted">
                <div style="height: 80px; line-height: 80px; border-bottom: thin solid black; font-size: 20px">
                    <span style="vertical-align: middle; display: inline-block">Who favors {{firstName}}</span>
                </div>
                <div class="row text-center bg-light-gray text-muted" ng-show="noFavors" style="height: 60px; line-height: 60px">
                    <span style="vertical-align: middle; display: inline-block">{{firstName}} is not favored by any user</span>
                </div>
                <div class="row" ng-repeat="result in favoredResults" style="padding-top: 10px">
                    <div>
                        <img ng-src="{{result.favorite.photoUrl}}" width="100" height="100" class="avatar img-circle" alt="avatar">
                    </div>
                    <div><a href="" ng-click="viewFavoredProfile($index)">{{result.favorite.alias}}</a></div>
                    <div>Favored by {{result.favoriteNumberOfFavorite}} people</div>
                    <div># of reviews: {{result.favoriteNumberOfReview}}</div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<!-- Plugin JavaScript -->
<script src="lib/classie.js"></script>
<script src="lib/cbpAnimatedHeader.js"></script>