<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="" ng-click="goToHome()">CARNET</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="" ng-click="goToHome()"></a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="login()">Login</a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="logout()">Logout</a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="signUp()">Sign Up</a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="createTrip()">Create Trip</a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="viewMyProfile()">My Profile</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Search Section -->
<section id="search">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Search</h2>
            </div>
        </div>

        <div class="row padding-20-30">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-autocomplete ng-model="origin" placeholder="Commute from:" required>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="locate()"><img src="img/icons/findIcon.png" alt="findIcon" width="15" height="18" /></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-autocomplete ng-model="destination" placeholder="Commute to:" required>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Date" datepicker-popup="{{format}}" ng-model="date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-primary form-control" ng-click="search()">Search</button>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="noResults">
            <div class="col-md-1"></div>
            <div class="col-md-10 bg-light-gray text-center text-muted">No Search Results Found</div>
            <div class="col-md-1"></div>
        </div>

        <div ng-repeat="result in searchResults" class="padding-0-30">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row bg-light-gray">
                        <div class="col-md-2 padding-10-10">
                            <img ng-src="{{result.owner.photoUrl}}" width="100" height="100" class="avatar img-circle" alt="avatar">
                        </div>
                        <div class="col-md-5 text-muted padding-20-0">
                            <div class="alias">
                                {{result.owner.alias}} <span class="text-muted userRole">{{result.userRole}}</span>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="col-md-1 hr-line"></div>
                                </div>
                                <div class="col-md-7 hr-line"></div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="origin-address">{{result.origin.address}}</div>
                            <div class="destination-address"><span class="color-palevioletred">To:</span> {{result.destination.address}}</div>
                        </div>
                        <div class="col-md-5 text-muted trip-details">
                            <div>{{result.schedule.hours}}:{{result.schedule.minutes}} {{result.schedule.ampm}}</div>
                            <div>
                                <span ng-show="{{result.schedule.daysOfOperation[0]}}"><b>S</b></span>
                                <span ng-hide="{{result.schedule.daysOfOperation[0]}}">S</span>
                                <span ng-show="{{result.schedule.daysOfOperation[1]}}"><b>M</b></span>
                                <span ng-hide="{{result.schedule.daysOfOperation[1]}}">M</span>
                                <span ng-show="{{result.schedule.daysOfOperation[2]}}"><b>T</b></span>
                                <span ng-hide="{{result.schedule.daysOfOperation[2]}}">T</span>
                                <span ng-show="{{result.schedule.daysOfOperation[3]}}"><b>W</b></span>
                                <span ng-hide="{{result.schedule.daysOfOperation[3]}}">W</span>
                                <span ng-show="{{result.schedule.daysOfOperation[4]}}"><b>T</b></span>
                                <span ng-hide="{{result.schedule.daysOfOperation[4]}}">T</span>
                                <span ng-show="{{result.schedule.daysOfOperation[5]}}"><b>F</b></span>
                                <span ng-hide="{{result.schedule.daysOfOperation[5]}}">F</span>
                                <span ng-show="{{result.schedule.daysOfOperation[6]}}"><b>S</b></span>
                                <span ng-hide="{{result.schedule.daysOfOperation[6]}}">S</span>
                            </div>
                            <div>{{result.estimatedCost.formattedAmount}}</div>
                            <div>{{result.distance}} Miles</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row text-center">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="hvr-sweep-to-top text-muted sweep-button" ng-click="viewProfile($index)">Profile</button>
                        </div>
                        <div class="col-md-4">
                            <button ng-hide="access_token" class="hvr-sweep-to-top text-muted sweep-button" ng-click="login()">Review</button>
                            <span ng-show="access_token">
                                <button ng-hide="result.hasReview" class="hvr-sweep-to-top text-muted sweep-button" ng-click="addReview($index)">Add Review</button>
                                <button ng-show="result.hasReview" class="hvr-sweep-to-top text-muted sweep-button" ng-click="removeReview($index)">Remove Review</button>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <button ng-hide="access_token" class="hvr-sweep-to-top text-muted sweep-button" ng-click="login()">Favorite</button>
                            <span ng-show="access_token">
                                <button ng-hide="result.isFavorite" class="hvr-sweep-to-top text-muted sweep-button" ng-click="addFavorite($index)">Add to Favorite</button>
                                <button ng-show="result.isFavorite" class="hvr-sweep-to-top text-muted sweep-button" ng-click="removeFavorite($index)">Remove from Favorite</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>
</section>
