<!-- Trip Section -->
<section id="trip" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Trip</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="" class="page-scroll btn btn-xl" ng-click="createTrip()">+ Create Trip</a>
            </div>
        </div>
        
        <div ng-repeat="result in tripResults">
            <div class="row">
                <div class="col-md-3">
                    
                </div>

                <div class="col-md-9">
                    <div>
                        From: {{result.origin.address}}
                        {{result.userRole}}
                    </div>
                    <div>
                        To: {{result.destination.address}}
                        {{result.distance}} Miles
                    </div>
                    <div>
                        <span ng-show="{{result.schedule.daysOfOperation[0]}}"><b>S</b></span>
                        <span ng-hide="{{result.schedule.daysOfOperation[0]}}">S</span>
                        <span ng-show="{{result.schedule.daysOfOperation[1]}}"><b>M</b></span>
                        <span ng-hide="{{result.schedule.daysOfOperation[1]}}">M</span>
                        <span ng-show="{{result.schedule.daysOfOperation[2]}}"><b>T</b></span>
                        <span ng-hide="{{result.schedule.daysOfOperation[3]}}">T</span>
                        <span ng-show="{{result.schedule.daysOfOperation[3]}}"><b>W</b></span>
                        <span ng-hide="{{result.schedule.daysOfOperation[3]}}">W</span>
                        <span ng-show="{{result.schedule.daysOfOperation[4]}}"><b>T</b></span>
                        <span ng-hide="{{result.schedule.daysOfOperation[4]}}">T</span>
                        <span ng-show="{{result.schedule.daysOfOperation[5]}}"><b>F</b></span>
                        <span ng-hide="{{result.schedule.daysOfOperation[5]}}">F</span>
                        <span ng-show="{{result.schedule.daysOfOperation[6]}}"><b>S</b></span>
                        <span ng-hide="{{result.schedule.daysOfOperation[6]}}">S</span>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
